/*
https://www.youtube.com/watch?v=fm7T7NMtoEQ&list=RD8nsWMmFYRqE&index=27
https://www.youtube.com/watch?v=NlrYn_dZdqk&index=25&list=RD8nsWMmFYRqE
https://www.youtube.com/watch?v=rU3KsD0w1-I&index=24&list=RD8nsWMmFYRqE
*/

@keyframes zgvel{
	0%{
		letter-spacing: 7px;
	}
	50%{
		letter-spacing: 12px;
	}
	100%{
		letter-spacing: 7px;
	}
}

@keyframes move_left{
	0%{
		right: 30px;
	}
	50%{
		right: 22px;
	}
	100%{
		right: 30px;
	}
}

@keyframes move_right{
	0%{
		left: 30px;
	}
	50%{
		left: 22px;
	}
	100%{
		left: 30px;
	}
}

body{
	background-image: url(../bg/docker3.png);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	/*background: black;*/
	min-height: 100vh;

}


/* END GLOBALS */

.main{
	width: 100%;
	/*height: 1000px;*/
	/*background: green;*/
}

/* Header */

.sign_register{
	margin-bottom: 20px;
	width: 100%;
	/*height: 100px;*/
	background: rgba(20,20,20, 0.9);
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}





/* Logo */

.logo{
	width: 6%;
	margin-left: 10px;
	padding: 5px;
	box-sizing: border-box;

}

#logo_img{
	width: 65px;
	height: 64px;
}

/* Name of game */

.name_of_game{
	min-width: 315px;
	width: 25%;
	/*height: 100px;*/
	vertical-align: middle;
	font-size: 50px;
	padding: 0 10px;
	text-align: center;
	color: white;
	font-family: name;
	letter-spacing: 5px;
	/*font-weight: bold;*/
	color: white;
	transition: 0.2s;
}

.buttons_enter{
	min-width: 400px;
	width: 30%;
	/*height: 100px;*/
	/*padding-top: 10px;*/
}

.buttons{
	width: 180px;
	margin: 10px;
	font-size: 25px;
	padding: 5px;
	border: none;
	color: white;
	font-weight: bold;
	font-family: input;
	letter-spacing: 1px;
	background: transparent;
	border-radius: 8px;
	transition: 0.7s;
}



#sign_in{
	float: right;
	border: 3px solid #1AB700;
	color: #1AB700;
	/*background: black;*/
}
#sign_in:hover{
	background: #1AB700;
	color: black;
	cursor: pointer;
	/*cursor:url(../icon/cursor1.png),pointer;*/
}



#registration{
	float: right;
	border: 3px solid #397dc6;
	color: #397dc6;
	/*background: black;*/
}
#registration:hover{
	background: #397dc6;
	color: black;
	cursor: pointer;
	/*cursor:url(../icon/cursor1.png),pointer;*/
}


/*carousel*/

.our_carousel{
	background: black;
	position: relative;
	margin-top: 100px;
	width: 70%;
	height: 500px;
	margin: 0 auto;
	border: 10px solid black;
	border-radius: 10px;
}

.opacity_name{
	position: absolute;
	width: 100%;
	/*display: block;*/
	height: 60px;
	color: white;
	font-size: 100px;
	text-align: center;
	top: 0;
	bottom: 0;
	margin: auto;
	letter-spacing: 2px;
	background: #397dc6;
	font-family: name;
}

.our_carousel>img{
	position: absolute;
	width: 100%;
	height: 100%;
}

.our_carousel>button{
	position: absolute;
	width: 50%;
	height: 100%;
	background: transparent;
	top: 0;
/*	bottom: 0;
	margin: auto;*/
	border:none;
}

#slider_next{
	right: 0;
}

#slider_prev{
	left: 0;
}

.our_carousel>div{
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	bottom: 0;
	margin: auto;
	/*background: green;*/
	border-color:white;
}

.arrow_next{
	right: 30px;
	border-top:5px solid;
	border-right: 5px solid;
	transform: rotate(45deg);
}

.arrow_next:hover{
	animation: move_left 0.8s linear infinite;
}

.arrow_prev:hover{
	animation: move_right 0.8s linear infinite;
}

.arrow_prev{
	left: 30px;
	border-top:5px solid;
	border-left: 5px solid;
	/*border-color:white;*/
	transform: rotate(-45deg);
}

.running_text{
	position: fixed;
	bottom:20px;
	width: 100%;
	background: black;
	color: white;
	padding :3px 0 0;
	box-sizing: border-box;
	font-size:25px;
	font-family: input2;
}

/* LOGIN */



.login_show, .registration_show{
	position: absolute;
	display: none;
	padding: 10px 0;
	width: 480px;
/*	height: 500px;*/
	background: rgba(20,20,20, 0.9);
	right: 0;
	top: 64px;
	z-index: 100;
	/*box-shadow: 0 0 100px white;*/

}

.login_close{
	position: absolute;
	top: 10px;
	right: 13px;
	font-size: 30px;
	color: red; 
	font-weight: bold;
	font-family: input;
}

.login_close:hover{
	font-size: 35px;
	cursor: pointer;
	top: 7px;
	right: 11px;
}

.login_image{
	width: 285px;
	height: 285px;
	/*background: pink;*/
	margin: 0 auto;

}

.login_image>img{
	height: 100%;
	width: 100%;

}

.login_input, .registration_input {
	width: 100%;
	/*height: 200px;*/
	text-align: center;
	/*background: purple;*/
}

.login_input>form>input,.registration_input>form>input{
	width: 400px;
	height: 50px;
	margin: 15px;
	background: transparent;
	font-size: 25px;
	color: black;
	border: none;
	border-bottom: 2px solid #469e85;
	border-radius: 20px;
	font-family: input;
	padding-left: 30px;
	color: white;
}

.login_input>form>input:hover, .registration_input>form>input:hover{
	cursor: pointer;
}

/*.login_input>form>input::placeholder{
	color: blue;
}*/

.login_input>form>input[type="submit"],.registration_input>form>input[type="submit"]{
	background: linear-gradient(to right, green, #1AB700);
	color: white;
	border:2px solid #1AB700;
	border-radius: 10px;
	letter-spacing: 2px;
}

.login_input>form>input[type="submit"]:hover,.registration_input>form>input[type="submit"]:hover {
	background: linear-gradient(to left, green, #1AB700);
}

.forget_password{
	margin-right: 7px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
	width: 175px;
	float: right;
	/*background: red;*/
}

.forget_password:hover{
	cursor: pointer;
	text-decoration: underline;
	border-bottom:1px solid white;
}

.fill_to_enter{
	text-align: center;
	font-family: input;
	font-size: 35px;
	color: white;
	letter-spacing: 7px;
	animation: zgvel 2s linear infinite;
}

/*
@media (max-width: 1125px) {
	.logo{
		display: none;
	}
}
*/
@media (max-width: 768px) {
	.buttons{
		font-size: 18px;
		width: 160px;
		margin: 3px;
	}
	.buttons_enter{
		width: 55%;
		min-width: inherit;
	}
	.name_of_game{
		width: 45%;
		font-size: 40px;
		min-width: inherit;
	}
	.running_text{
		display: none;
	}
	.login_show, .registration_show{
		top: 46px;
	}
}


@media (max-width: 624px){
	.name_of_game{
		font-size: 44px;
	}
	.buttons{
		font-size: 30px;
		width: 300px;
		padding: 2px;
	}
	.login_show, .registration_show{
		top: 102px;
		width: 100%;
	}
} 

@media (max-width: 580px){
	.name_of_game{
		display: none;
	}
	.buttons_enter{
		width: 100%;
	}
	.buttons{
		font-size: 35px;
		width: 98%;
		margin: 1%;
	}
	.login_show, .registration_show{
		top: 121px;
	}
	.login_show form input,.registration_show form input{
		width: 80%;
	}
} 


